<footer class="bg-dark text-light mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Wan2.1</h5>
                <p class="small">Open and Advanced Large-Scale Video Generative Model</p>
            </div>
            <div class="col-md-6 text-md-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="https://github.com/Wan-Video/Wan2.1" target="_blank" class="text-light">
                            <i class="fab fa-github fa-lg"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://huggingface.co/Wan-AI/" target="_blank" class="text-light">
                            <i class="fas fa-hdd fa-lg"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://arxiv.org/abs/2503.20314" target="_blank" class="text-light">
                            <i class="fas fa-file-alt fa-lg"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://discord.gg/AKNgpMK4Yj" target="_blank" class="text-light">
                            <i class="fab fa-discord fa-lg"></i>
                        </a>
                    </li>
                </ul>
                <p class="small mt-2 mb-0">&copy; 2025 The Alibaba Wan Team. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
