<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/logo.png" alt="Wan2.1 Logo" class="me-2">
                Wan2.1
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/text-to-video">Text to Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/image-to-video">Image to Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fl-to-video">First-Last Frame</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <a href="https://github.com/Wan-Video/Wan2.1" target="_blank" class="btn btn-outline-light">
                    <i class="fab fa-github me-1"></i> GitHub
                </a>
            </div>
        </div>
    </nav>
</header>
